
@model IEnumerable<ReservationsVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<h1 class="badge rounded-pill bg-secondary p-2 mt-2">Welcome To Reservations </h1>

<style>
    tr ,th , tbody , thead{
        text-align:center !important;
    }
    
</style>



<a asp-controller="Revirsation" asp-action="Create" class="btn btn-primary w-100 mt-20px m-auto">Create New Customer</a>

<br /> <br />


<form asp-controller="Revirsation" asp-action="Index">
    <div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-lg-10 col-md-6 col-sm-8 col-xs-6">
            <input type="text" class="form-control" name="SearchValue" />
        </div>
        
        @*<div class="col-lg-2 col-md-4 ">
            <input type="submit" value="search" class="btn btn-success" />
        </div>*@
        <div class="col-sm-4 col-lg-2 col-md-6 col-xs-6">
       
            <input type="submit" value="search" class="btn btn-success" />
        </div>
    </div>
</div>
</form>

<br /> <br />
<div class="row">
            
     <div class="our-work text-center pt-5 pb-5 ">

<table class="table table-hover table-striped text-center table-bordered font-bold">
    <thead>
        <tr>
            <th>Room-Number</th>
            <th>Reservation-date</th>
            <th>Exp-Date</th>
            @*<th>Reception-Worker</th>*@
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
           
            <tr>
                <td>
                    @item.Rooms.Id
                </td>
                @*<td>
                    @item.RevirsationsNumber
                </td>*@
                <td>
                    @item.RevirsationsDate.ToShortDateString()
                </td>
                <td>
                    @item.ExpiryDate.ToShortDateString()
                </td>
                @*<td>
                    @item.DOB.ToShortDateString()
                </td>
                <td>
                    @item.Address
                </td>*@
              @*  <td>
                    @item.Reception.Name
                </td>*@
                <td>
                    <a asp-controller="Revirsation" asp-action="Details" asp-route-id="@item.RevirsationsNumber" class="btn btn-success">Details</a>
                </td>
                <td>
                    <a asp-controller="Revirsation" asp-action="Update" asp-route-id="@item.RevirsationsNumber" class="btn btn-warning">Update</a>
                </td>
                <td>
                    <a asp-controller="Revirsation" asp-action="Delete" asp-route-id="@item.RevirsationsNumber" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<center>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary w-100">Return</a>
</center>
       </div>

</div>
